* {
    box-sizing: border-box;
    line-height: 20pt;
}

/* Sets up the page layout */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* The main background image */

body {
    background-image: url("../images/funky-lines.png");
}

/* Creates a container over the header and the page's contents so that the footer can attach to the bottom
the negative margin gives .push and .footer enough space to fit appropriately no matter how large the content is */

.wrapper {
    min-height: 100%;
    margin-bottom: -78px;
}

/* Helps push the margin to the bottom of the content no matter how long the content is */

.push {
    height: 78px;
}

/* The box that holds the main content on each page */

.container {
    width: 960px;
    margin: 30px auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: auto;
    clear: both;
    overflow: auto;
}

/* Styles the heading in each white content box */

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 30px 0px;
    margin: 0 30px 30px 30px;
    border-bottom: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* Styles the paragraphs inside the content box */

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    display: inline;
    font-size: 18px;
    color: #777777;
}

/*---------------Header Styles-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* The entire header at the top of the page */

.header {
    background-color: #ffffff;
    top: 0;
    width: 100%;
    height: 76px;
    border-bottom: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


/* The div that contains the content in the header */

.nav {
    width: 960px;
    margin: 0 auto;
    height: 78px;
}

/* Styles the name in the header */

.nameheader {
    background-color: #4aaaa5;
    display: inline-block;
    height: 77px;
    width: auto;
    margin: 0px;
    padding: 20px;
    font-size: 28px;
    color: #ffffff;
}

/* The group of links in the header */

ul {
    float: right;
    height: 79px;
    margin: 0;
    padding:30px 0;
}

/* Each individual link in the header */

li {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    padding: 0 20px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width: 1px; 
    z-index: 10;
    cursor: pointer;
}

/* Removes the border on the last link */

li:last-child {
    padding-right: 0;
    border: none;
}

/* Prevents the links from being styled after clicking on them */

a {
    color: inherit;
    text-decoration: inherit;
}

/*---------------About Me-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

/* Image in About Me section */

.container img {
    width: 250px;
    margin: 0 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    float: left;
}

/* Paragraph in About me section */

.paragraph {
    width: auto;
    margin: 0 30px 30px 30px;    
}


/*---------------Contact Page-----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* Styles each form in contact page */

.container form {
    padding: 30px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* Styles the placeholder text and input box in contact page */

.container input {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container textarea {
    margin: 5px 0;
    width: 100%;
    padding: 5px 5px;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 200px;
}

/* Button at the bottom of the contact page */

.container .submit {
    width: auto;
    background-color: #4aaaa5;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
}

/*--------------Portfolio---------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

/* The container that centers the project grid */

.projectset {
    margin: 0 60px;
    width: 100%;
    height: auto;
}

/* The container that holds the individual projects and titles */

.project {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 15px;
    
}

/* Clears the margins around the project images */

.project img {
    margin:0;
}

/* Positions and styles the titles for each project */

.title {
    position: absolute;
    width: 250px;
    height: auto;
    background-color: #4aaaa5;
    text-align: center;
    bottom: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 0;
    font-size: 20px;
}
/*---------------Footer-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* The Footer at the bottom of the page */

.footer {
    background-color: #666666;
    height: 78px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    margin: 0;
    padding: 0;   
}

/* The copyright text in the footer */

.footer p {
    color: #ffffff;
    margin: 0 auto;
    max-width: 70px;
    font-size: 12px;
    padding-top: 45px;
    display: block;
}

@media screen and (max-width: 1007px) {
    .container,
    .nav {
        width: 680px;
    }
}

@media screen and (max-width: 690px) {
    .container,
    .nav {
        width: 400px;
    }

    .nameheader {
        display: none;
    }

    ul {
        float: none;
        margin: 0 auto;
        width: 325px;
    }

    li:last-child {
        padding: 0 20px;
    }

    .container img {
        float: none;
        margin: 0 74px;
    }

    .project {
        margin: 15px auto;
    }

    .project img {
        margin: 0;
    }
}

@media screen and (max-width: 420px) {
    
    html,
    body {
        width: auto;
    }
    
    .container,
    .nav {
        width: auto;
    }
    
    .container img {
        float: none;
        margin: 10px auto;
        display: block;
    }

    .project {
        margin: 15px auto;
    }

    .project img {
        margin: 0;
    }
}